<template>
    <div id="column-center">
        <edit-character v-if="showCharacterEditor"
                        :combatant="combatant"
                        :type="createType"
                        @close="showCharacterEditor = false"
        ></edit-character>
        <div id="combat" v-else>
            <h2>COMBATANTS BY INITIATIVE</h2>
            <combat-screen/>
        </div>
    </div>
</template>

<script>
    import CombatRow from "@/components/CombatRow";
    import EditCharacter from "@/components/EditCharacter";
    import CombatScreen from "@/components/CombatScreen";
    import {mapState} from "vuex";

    export default {
        name: "ColumnCenter",
        components: {
            CombatRow,
            EditCharacter,
            CombatScreen,
        },
        props: {
            grouped: {
                type: Boolean,
                default: true
            },
            initiativeType: {
                type: String
            },
        },
        data() {
            return {
                combatant: {},
                showCharacterEditor: false,
                createType: 'npc',
            }
        },
        computed: {
            ...mapState(['library']),
        },
        created() {
            this.$root.$on('edit-combatant', this.edit);
            this.$root.$on('new-combatant', this.newCombatant);
        },
        methods: {
            newCombatant(type) {
                //TODO: Implement warning when character already selected
                this.combatant = null;
                this.createType = type;
                this.showCharacterEditor = true;
            },
            edit(combatant) {
                this.combatant = combatant.clone();
                this.createType = null;

                if (combatant instanceof this.$NPC) {
                    if (this.library.bestiary[combatant.id] === undefined) {
                        this.createType = 'npc';
                    }
                }
                else if (this.library.characters[combatant.id] === undefined) {
                    this.createType = 'character';
                }

                this.showCharacterEditor = true;
            },
        }
    }
</script>

<style>
    #column-center {
        padding-top: 3vh;
        padding-bottom: 1vh;
        max-height: 100%;
    }

    #combat {
        max-height: 100%;
    }
</style>