<template>
    <div id="menu-bar"  @mouseenter="menu=true" @mouseleave="menu=false">
        <transition name="slide" mode="out-in">
            <div key="menu-on" v-if="menu">
                <div class="menu-button" @click="openLibrary">Open Library</div>
                <div class="menu-button" @click="$refs.file.click()">Import Library <input type="file" ref="file" style="display: none" accept="application/json" @change="importData"></div>
                <div class="menu-button" @click="exportData">Export Library</div>
            </div>
            <div id="menu-off" v-else key="menu-off">
                <div id="left-line"></div>
                <div class="menu-button">Menu</div>
                <div id="right-line"></div>
            </div>
        </transition>
        <v-snackbar v-model="openError" top color="error" :timeout="2000">
            It seems the file you uploaded could not be imported!
        </v-snackbar>
    </div>
</template>

<script>
    import linehalf from '@/assets/linehalf.png';
    import {mapActions, mapMutations, mapState} from "vuex";

    export default {
        name: "MenuBar",
        data() {
            return {
                line: linehalf,
                menu: false,
                test: false,
                openError: false,
            }
        },
        computed: {
            ...mapState(['library']),
        },
        methods: {
            ...mapMutations(['openLibrary']),
            ...mapActions(['getExportData', 'importLibrary']),
            exportData() {
                this.getExportData().then(({content, filename}) => {
                    let element = document.createElement('a');
                    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(content));
                    element.setAttribute('download', filename);

                    element.style.display = 'none';
                    document.body.appendChild(element);

                    element.click();

                    document.body.removeChild(element);
                })
            },
            importData(event) {
                if (event.target.files[0]) {
                    event.target.files[0].text().then(content => {
                        let data = JSON.parse(content);
                        if (!(data && data.version && data.library)) {
                            this.openError = true;
                        }
                        else {
                            this.importLibrary(data);
                        }
                    })
                }
            },
        }
    }
</script>

<style scoped>
    #menu-bar {
        height: 5vh;
        padding: 0 2%;
    }

    #menu-bar>div {
        display: flex;
        justify-content: space-around;
    }

    #left-line, #right-line {
        background-image: url('~@/assets/linehalf.png');
        width: 100%;
    }

    #right-line {
        transform: scaleX(-1);
    }

    .menu-button {
        cursor: pointer;
        height: 100%;
        line-height: 5vh;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        margin: auto 30px;
    }

    #menu h4 {
    }

    .slide-enter-active, .slide-leave-active {
        transition: transform .2s ease;
    }

    .slide-enter, .slide-leave-to {
        transform: translateY(-100%);
    }
</style>