<template>
    <div id="player-screen-container" v-if="openPlayerScreen">
        <div id="loading-screen" :class="{loaded: !loading}"></div>
        <img id="background-image" :src="background" @load="finishLoading">
        <combat-screen :fullScreen="fullScreen" @toggle-fullscreen="toggleFullScreen" :primary="false"/>
    </div>
</template>

<script>
    import CombatScreen from "@/components/CombatScreen";
    import {mapMutations, mapState} from "vuex";

    function copyStyles(sourceDoc, targetDoc) {
        Array.from(sourceDoc.styleSheets).forEach(styleSheet => {
            if (styleSheet.cssRules) {
                // for <style> elements
                const newStyleEl = sourceDoc.createElement("style");

                Array.from(styleSheet.cssRules).forEach(cssRule => {
                    // write the text of each rule into the body of the style element
                    newStyleEl.appendChild(sourceDoc.createTextNode(cssRule.cssText));
                });

                targetDoc.head.appendChild(newStyleEl);
            } else if (styleSheet.href) {
                // for <link> elements loading CSS from a URL
                const newLinkEl = sourceDoc.createElement("link");

                newLinkEl.rel = "stylesheet";
                newLinkEl.href = styleSheet.href;
                targetDoc.head.appendChild(newLinkEl);
            }
        });

        const newStyleEl = sourceDoc.createElement('style');
        newStyleEl.appendChild(sourceDoc.createTextNode("html { overflow: hidden; }"));
        targetDoc.head.appendChild(newStyleEl);

        targetDoc.title = 'WFRPBS - Player Screen';
    }

    export default {
        name: "PlayerScreen",
        components: {
            CombatScreen,
        },
        data() {
            return {
                windowRef: null,
                fullScreen: false,
                loading: true,
                background: location.origin+'/background.jpg',
            }
        },
        watch: {
            openPlayerScreen(newOpen) {
                if (newOpen) {
                    this.openPortal();
                }
                else {
                    this.closePortal();
                }
            }
        },
        computed: {
            ...mapState(['openPlayerScreen']),
        },
        mounted() {
            if (this.openPlayerScreen && this.windowRef === null) {
                this.openPortal();
            }
        },
        beforeDestroy() {
            if (this.openPlayerScreen) {
                this.closePortal();
            }
        },
        methods: {
            ...mapMutations(['closeScreen']),
            openPortal() {
                this.loading = true;
                if (this.windowRef) {
                    this.windowRef.close();
                }

                this.windowRef = window.open();
                if (!this.windowRef) {
                    // Popup was blocked
                    this.$emit('popup-error');
                    this.closeScreen();
                } else {
                    this.windowRef.document.body.appendChild(this.$el);
                    copyStyles(window.document, this.windowRef.document);
                    this.windowRef.addEventListener('beforeunload', this.closePortal);
                    this.windowRef.document.documentElement.addEventListener('fullscreenchange', this.updateFullScreen)
                }
            },
            closePortal() {
                if(this.windowRef) {
                    this.windowRef.close();
                    this.windowRef = null;
                    this.closeScreen();
                }
            },
            toggleFullScreen() {
                if (this.fullScreen) {
                    this.windowRef.document.exitFullscreen();
                }
                else {
                    this.windowRef.document.documentElement.requestFullscreen();
                }
            },
            updateFullScreen() {
                this.fullScreen = this.windowRef.document.fullscreenElement !== null;
            },
            finishLoading() {
                this.loading = false;
            }
        }
    }
</script>

<style>
    #player-screen-container {
        min-height: 100vh;
        max-height: 100vh;
        width: 100%;
        min-width: 1500px;
    }

    #player-screen-container * {
        font-size: x-large;
    }

    #loading-screen {
        background-color: black;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 99999;

        transition: opacity 0.3s;
    }

    #loading-screen.loaded {
        opacity: 0;
        pointer-events: none;
    }

    #background-image {
        position: absolute;
        z-index: -9999;
        width: 100%;
        height: calc(100vw / 4096 * 2441);
    }
</style>