<template>
    <div id="combat-screen">
        <div id="combat-table-container" :class="{secondary: !primary}">
            <table id="combat-table">
                <thead id="combat-table-header">
                <tr>
                    <th class="center clickable" width="50px" @click="toggleCombat"><font-awesome-icon :icon="initiativeIcon"/></th>
                    <th width="30%">Combatant</th>
                    <th class="center" :width="primary ? '80px' : '150px'"><font-awesome-icon icon="heart"/></th>
                    <th class="center" :width="primary ? '40px' : '80px'"><font-awesome-icon icon="balance-scale"/></th>
                    <th width="auto">Conditions/Effects
                        <span v-if="!primary" style="float: right; line-height: 1.5em; padding-top: 5px">
                            <font-awesome-icon @click="$emit('toggle-fullscreen')" class="clickable" :icon="fullIcon"/>
                        </span>
                    </th>
                </tr>
                </thead>
                <tbody id="combat-table-body" v-if="combatants.length > 0">
                <combat-row v-for="(combatantData, index) in filteredCombatants"
                            ref="combatRow"
                            class="combat-row"
                            :class="{'odd-row': index%2 === 1, 'even-row': index%2 !== 1, 'selected': selectedCombatant === combatantData && primary, 'active-combatant': activeCombatant === combatantData}"
                            :combatant="combatantData"
                            :show-no="combatantsWithNumbers.includes(combatantData.id)"
                            :combat-started="combatStarted"
                            :initiative-type="initiativeType"
                            :primary="primary"
                            :key="index"/>
                </tbody>
            </table>
        </div>
        <div class="bottom-row container" :class="{secondary: !primary}" ref="bottomRow">
            <div class="row" id="combat-options">
                <template v-if="primary">
                    <template v-if="combatStarted">
                    <div class="col-1 text-right">
                        <font-awesome-icon class="clickable" icon="chevron-circle-up" @click="previousCombatant"/>
                    </div>
                    <div class="col-3">
                        <font-awesome-icon class="clickable" icon="chevron-circle-down" @click="nextCombatant"/> Next combatant
                    </div>
                    </template>
                    <div class="col-4" v-else></div>
                    <div class="col-3">
                        <font-awesome-icon class="clickable" icon="broom" @click="finishCombat"/> Finish/Clean combat
                    </div>
                    <div class="col-3">
                        <font-awesome-icon class="clickable" :icon="openPlayerScreen ? 'book-reader' : 'book-open'" @click="toggleScreen"/> Player Screen
                    </div>
                </template>
                <div class="col-10" v-else></div>
                <div v-if="combatStarted" class="col-2" id="round-counter"><strong>Round:</strong> {{combatRound}}</div>
            </div>
        </div>
        <template v-if="combatants.length === 0 && primary">No combatants added yet</template>
    </div>
</template>

<script>
    import {mapActions, mapGetters, mapMutations, mapState} from "vuex";
    import CombatRow from "@/components/CombatRow";

    export default {
        name: "CombatScreen",
        props: {
            primary: {
                type: Boolean,
                default: true,
            },
            fullScreen: {
                type: Boolean,
                default: false,
            }
        },
        components: {
            CombatRow
        },
        computed: {
            ...mapState(['combatStarted', 'combatants', 'selectedCombatant', 'initiativeType', 'activeCombatant', 'combatRound', 'openPlayerScreen']),
            ...mapGetters(['combatantsWithNumbers']),
            initiativeIcon() {
                return this.combatStarted ? 'bolt' : 'bed';
            },
            fullIcon() {
                return this.fullScreen ? 'compress' : 'expand';
            },
            maxHeight() {
                return 'calc(100% -' + (this.combatStarted && this.$refs.bottomRow ? this.$refs.bottomRow.height : '0') + ')';
            },
            filteredCombatants() {
                if (this.primary) {
                    return this.combatants;
                }
                else {
                    let combatants = [];
                    this.combatants.forEach(combatant => {
                        if (!combatant.isHidden && (combatant instanceof this.$Character || this.combatStarted)) {
                            combatants.push(combatant)
                        }
                    })

                    return combatants;
                }
            }
        },
        watch: {
            activeCombatant() {
                if (this.activeCombatant) {
                    this.$nextTick(function () {
                        this.$refs.combatRow.find(el => el.$el.classList.contains('active-combatant')).$el.scrollIntoView({
                            behavior: "smooth",
                            block: "end",
                        });
                    })
                }
            }
        },
        mounted() {
            window.addEventListener("keydown", (event) => {
                if (event.target !== document.body || !this.primary) return;
                switch (event.code) {
                    case 'Delete':
                        if (this.selectedCombatant) this.ejectCombatant(this.selectedCombatant);
                        break;
                    case 'KeyN':
                        if (this.combatStarted) {
                            if (event.altKey) {
                                this.previousCombatant();
                            } else {
                                this.nextCombatant();
                            }
                        }
                        break;
                }
            })
        },
        methods: {
            ...mapMutations(['ejectCombatant', 'toggleScreen']),
            ...mapActions(['toggleCombat', 'nextCombatant', 'previousCombatant', 'finishCombat']),
            isCharacter(combatant) {
                return combatant instanceof this.$Character;
            },
        }
    }
</script>

<style scoped>
    #combat-screen {
        width:100%;
    }
</style>

<style>
    #combat-table-container {
        height: calc(100vh - 14.5vh);
        overflow-y: auto;
    }

    #combat-table-container.secondary {
        height: calc(100% - 5.1vh);
        font-size: large;
    }

    #combat-table {
        width: 100%;
        margin: 0;
        border-collapse: separate;
        border-spacing: 0;

    }

    #combat-table thead th {
        background-color: rgba(163, 179, 175, 0.8);
        border-bottom: solid 3px black;
        border-top: none;
    }

    #combat-table th, #combat-table .combat-row td {
        padding: 0 5px;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }

    #combat-table .combat-row td:first-of-type, #combat-table th:first-of-type {
        border-left: none;
        padding-left: 5px;
    }

    #combat-table .combat-row td:last-of-type, #combat-table th:last-of-type {
        padding-right: 5px;
        border-right: none;
    }

    #combat-table tr:last-of-type td {
        border-bottom: 1px solid transparent;
    }

    #combat-table td {
        min-height: 1.5em;
        line-height: 1.5em;
    }

    #combat-table tr {
        line-height: 1.5em;
        min-height: 1.5em;
        overflow-x: hidden;
    }

    .combat-row {
        cursor: default;
    }

    .odd-row:hover td {
        background-color: rgba(0, 0, 0, 0.05);
        -webkit-transition: background-color 100ms linear;
        -ms-transition: background-color 100ms linear;
        transition: background-color 100ms linear;
    }

    .even-row:hover td {
        background-color: rgba(0, 0, 0, 0.15);
        -webkit-transition: background-color 100ms linear;
        -ms-transition: background-color 100ms linear;
        transition: background-color 100ms linear;
    }

    #combat-table .combat-row:not(.selected) td {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .selected td {
        border-top: 5px solid #9a1111;
        border-bottom: 5px solid #9a1111 !important;
    }

    .selected td:first-child {
        border-left: 5px solid #9a1111 !important;
        padding-left: 0;
    }

    .selected td:last-of-type {
        border-right: 5px solid #9a1111 !important;
        padding-right: 0;
    }

    .bottom-row.container {
        max-width: 100%;
        height: calc((1.5rem + 10px)*2);
        border-top: 3px solid black;
        background-color: rgba(163, 179, 175, 0.80);
        padding: 0;
    }

    #combat-options>div {
        padding: 3px;
    }

    #combat-options {
        line-height: 1.5em;
        margin: 0;
        padding: 0 10px;
        cursor: default;
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
    }

    .active-combatant {
        font-weight: bold;
        background: rgb(58,97,0);
        background: linear-gradient(72deg, rgba(58,97,0,0.8099614845938375) 1%, rgba(58,97,0,0.09007352941176472) 11%, rgba(250,252,249,0) 45%);
    }

    .active-combatant td:first-child {
        border-left: 5px solid #3a6100 !important;
    }

    .active-combatant td:last-child {
        border-right: 5px solid #3a6100 !important;
    }

    #round-counter strong {
        font-size: large;
    }

    #round-counter.secondary strong {
        font-size: x-large;
    }
</style>