<template>
  <div id="combatant-view-container">
    <div id="combatant-view" :style="transform">
      <h3 class="combatant-name" :class="{editable: edit}">
        <input v-if="edit" type="text" v-model="combatant.name">
        <template v-else>{{ combatant.name }}
          <template v-if="showNumber">{{ combatant.no }}</template>
        </template>
      </h3>
      <table class="stats-table">
        <tbody>
        <tr>
          <th>M</th>
          <th v-for="stat in stats">{{ stat }}</th>
          <th>W</th>
        </tr>
        <tr>
          <td :class="{editable: edit}"><input :disabled="!edit" type="text" @keypress="isNumber($event)"
                                               v-model.number="st.m"></td>
          <td :class="{editable: edit}" v-for="stat in stats">
            <input v-if="edit" type="text" @keypress="isNumber($event)"
                   v-model.number="st[stat.toLowerCase()].value">
            <template v-else>
              {{ st[stat.toLowerCase()].value | parseScore}}
            </template>
          </td>
          <td>{{ st.w }}</td>
        </tr>
        </tbody>
      </table>

      <div v-if="skills.length">
        <strong>Skills: </strong>
        <span :class="{editable: edit}" v-for="(skill, index) in skills" @click="skillClicked(skill.name, $event)">
                        <v-tooltip bottom open-delay="1000" max-width="800px">
                            <template v-slot:activator="{ onView, attrsView }">
                                <span v-on="onView" v-bind="attrsView">
                                    <span>{{ skill.name }}</span>
                                    <span>&nbsp;<input class="inline-input" :disabled="!edit" type="text"
                                                       @click="skillClicked(skill.name, $event)"
                                                       @keypress="isNumber($event)" v-model.number="skill.skill"></span>
                                    <span v-if="skills[index +1]">, </span>
                                </span>
                            </template>
                            <template v-slot:default>
                                CTRL + Click or ALT + Click to remove, or alter score directly
                            </template>
                        </v-tooltip>
                    </span>
      </div>
      <div v-if="talents.length">
        <strong>Talents: </strong>
        <!--            <span v-for="(talent, index) in talents" :key="index"></span>-->
      </div>
      <div v-if="traits.length">
        <strong>Traits: </strong>
        <trait-display v-for="(trait, index) in traits"
                       :key="trait.name"
                       :edit="edit"
                       :index="index"
                       :trait-data="trait"
                       :all-traits="traits"
                       @save="updateTrait"
                       @removeTrait="removeTrait"
                       @removeAll="removeAll"/>
      </div>

      <label v-if="edit && isNPC">Unique NPC: <input type="checkbox" v-model="combatant.isUnique"></label>
      <div id="edit-buttons" v-if="edit">
        <v-menu offset-y offset-overflow :close-on-content-click="false" attach="#edit-buttons"
                content-class="drop-menu">
          <template v-slot:activator="{on, attrs}">
            <button type="button" v-bind="attrs" v-on="on" class="npc-button">+skill</button>
          </template>
          <template>
            <label><strong>Name:</strong><input type="text" v-model="skillName"></label>
            <label><strong>Score:</strong><input type="text" @keypress="isNumber($event)" v-model="skillScore"></label>
            <button style="width:100%" @click="addSkill" :disabled="invalidSkill">Save</button>
          </template>
        </v-menu>
        <v-menu offset-y offset-overflow nudge-left="270%" :close-on-content-click="false" content-class="drop-menu">
          <template v-slot:activator="{on, attrs}">
            <button type="button" v-bind="attrs" v-on="on" class="npc-button" @click="traitFilter = ''">+trait</button>
          </template>
          <template>
            <input type="search" v-model="traitFilter" class="trait-filter"
                   placeholder="Type to filter by name and description">
            <ul style="" class="trait-list">
              <li :id="'trait' + trait.name" v-for="trait in filteredTraits" :key="trait.name">
                <v-tooltip bottom open-delay="800" max-width="80%">
                  <template v-slot:activator="{ on, attrs }">
                    <span v-bind="attrs" v-on="on" @click="addTrait(trait)">{{ trait.name }}</span>
                  </template>
                  <span v-html="trait.description"></span>
                </v-tooltip>
              </li>
            </ul>
          </template>
        </v-menu>
      </div>
    </div>
    <div id="combatant-conditions" v-if="showConditions && Object.values(conditions).length" :style="transform">
      <!--            <div id="conditions-container">-->
      <!--                <h4 class="subtitle" id="conditions-header">Conditions</h4>-->
      <!--                <div class="condition" :key="condition" v-for="condition in sortedConditions" v-if="conditions[condition]">-->
      <!--                    <h5 class="condition-name">{{condition | capitalize}} <template v-if="conditions[condition].count > 1">({{conditions[condition].count}})</template></h5>-->
      <!--                    <p class="summary" v-html="allConditions[condition].summary(conditions[condition].count)"></p>-->
      <!--                </div>-->
      <!--            </div>-->
      <div id="penalties-container" v-if="penalties.length">
        <h4 class="subtitle" id="penalties-header">Penalties</h4>
        <ul id="penalties-list">
          <li v-for="penalty in penalties">
            <strong>{{ penaltyDescriptions[penalty.name] }}:</strong> {{ penalty.mod }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import Dropdown from 'bp-vuejs-dropdown';
import TraitsAndTalents from "@/classes/TraitsAndTalents";
import TraitDisplay from "@/components/TraitDisplay";
import {mapGetters, mapState} from "vuex";

export default {
  name: "CombatantView",
  components: {
    TraitDisplay,
    Dropdown,
  },
  props: {
    combatant: Object,
    edit: {
      type: Boolean,
      default: false
    },
    componentMaxWidth: Number,
    showConditions: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      skillName: '',
      skillScore: 30,
      stats: ['WS', 'BS', 'S', 'T', 'I', 'Agi', 'Dex', 'Int', 'WP', 'Fel'],
      traitFilter: '',
      traitEdit: {},
      penaltyDescriptions: {
        all: 'All tests',
        melee: 'Attacks against you',
        flank: 'Attacks against you from flank/rear',
        infest: 'Resist infections',
        hearing: 'Tests involving hearing',
        movement: 'Tests involving movement',
        sight: 'Tests involving sight',
        flee: 'Tests not for fleeing/hiding',
      },
    }
  },
  computed: {
    ...mapState(['selectedCombatant']),
    ...mapGetters(['allTraits', 'combatantsWithNumbers', 'sortedConditions', 'allConditions']),
    showNumber() {
      return !this.edit && this.combatantsWithNumbers.includes(this.combatant.id);
    },
    st() {
      return this.combatant.stats;
    },
    skills() {
      return _.cloneDeep(this.combatant.skills).sort((a, b) => {
        return a.name.localeCompare(b.name);
      });
    },
    traits() {
      let traitsByName = {};
      _.cloneDeep(this.combatant.traits).forEach(trait => {
        if (!traitsByName[trait.name]) {
          trait.count = 1;
          traitsByName[trait.name] = trait;
        } else {
          traitsByName[trait.name].count++
        }
      });

      return Object.values(traitsByName).sort((a, b) => a.name.localeCompare(b.name));
    },
    talents() {
      return _.cloneDeep(this.combatant.talents).sort();
    },
    isNPC() {
      return this.combatant instanceof this.$NPC;
    },
    filteredTraits() {
      return _.cloneDeep(this.allTraits).filter(trait => {
        let filter = this.traitFilter === '' || (trait.name.toLowerCase().includes(this.traitFilter.toLowerCase()) || trait.description.toLowerCase().includes(this.traitFilter.toLowerCase())),
            available = trait.multi === true || !this.traits.some(tr => tr.name === trait.name);
        return filter && available;

      });
    },
    invalidSkill() {
      return !this.skillName || !this.skillScore || this.combatant.skills.findIndex(sk => sk.name.toLowerCase() === this.skillName.toLowerCase()) !== -1
    },
    transform() {
      if (this.componentMaxWidth > 0 && this.componentMaxWidth < 400) {
        return 'transform: scale(' + this.componentMaxWidth / 400 + ');' +
            'position: relative; left: -' + Math.floor((400 - this.componentMaxWidth) / 2) + 'px;';
      } else {
        return '';
      }
    },
    conditions() {
      return this.combatant.conditions;
    },
    penalties() {
      let collectedPenalties = {};
      Object.keys(this.combatant.conditions).forEach(condition => {
        let count = this.combatant.conditions[condition].count;
        let penalties = this.allConditions[condition].penalties(count);
        Object.keys(penalties).forEach(key => {
          if (collectedPenalties[key]) {
            if (Math.abs(penalties[key]) > collectedPenalties[key])
              collectedPenalties[key] = penalties[key];
          } else {
            collectedPenalties[key] = penalties[key];
          }
        })
      })

      let allPenalty = collectedPenalties.all;
      if (collectedPenalties.flank && collectedPenalties.melee && collectedPenalties.melee >= collectedPenalties.flank) {
        this.$delete(collectedPenalties, 'flank');
      }

      let keys = Object.keys(this.penaltyDescriptions).filter(key => collectedPenalties[key]);
      let penalties = [];
      keys.forEach(key => {
        let mod = collectedPenalties[key];
        if (allPenalty === undefined || mod > 0 || mod < allPenalty || key === 'all') {
          penalties.push({
            name: key,
            mod: collectedPenalties[key],
            description: key,
          })
        }
      })

      return penalties;
    },
  },
  filters: {
    parseScore(value) {
      return Number.parseInt(value) ? value : '-';
    }
  },
  methods: {
    isNumber(evt) {
      let charCode = (evt.which) ? evt.which : evt.keyCode;
      if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode !== 45) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
    addSkill() {
      if (this.invalidSkill) return;
      this.combatant.skills.push({name: this.skillName, skill: this.skillScore});
      this.resetSkill();
    },
    resetSkill() {
      this.skillName = '';
      this.skillScore = 30;
    },
    removeTrait(trait) {
      let raw = TraitsAndTalents.getTrait(trait);
      if (raw.stats) {
        raw.stats(this.combatant.stats, true);
      }
      this.combatant.traits.splice(this.findTraitIndex(trait), 1);
    },
    removeAll(trait) {
      let count = this.traits.find(t => t.name.toLowerCase() === trait.toLowerCase()).count;
      let raw = TraitsAndTalents.getTrait(trait);
      if (raw.stats) {
        while (count > 0) {
          raw.stats(this.combatant.stats, true);
          count--;
        }
      }
      this.$set(this.combatant, 'traits', this.combatant.traits.filter(t => t.name.toLowerCase() !== trait.toLowerCase()));
    },
    addTrait(trait) {
      let raw = TraitsAndTalents.getTrait(trait.name);
      let index = this.findTraitIndex(trait.name);
      if (!raw.multi && index > -1) return;

      if (raw.stats) {
        raw.stats(this.combatant.stats);
      }

      if (index !== -1 || !raw.has) {
        this.combatant.traits.push({name: trait.name.valueOf()});
      } else {
        this.combatant.traits.push({name: trait.name.valueOf(), is_create: true});
      }
    },
    updateTrait(newData) {
      this.$set(this.combatant.traits, this.findTraitIndex(newData.name), newData);
    },
    findTraitIndex(name) {
      return this.combatant.traits.findIndex(trait => trait.name.toLowerCase() === name.toLowerCase());
    },
    skillClicked(skill, event) {
      if (event.ctrlKey || event.altKey) {
        this.combatant.skills.splice(this.combatant.skills.findIndex(sk => sk.name.toLowerCase() === skill.toLowerCase()), 1);
      }
    },
  }
}
</script>

<style scoped>
#combatant-view-container {
  width: 400px;
  height: 100%;
}

#combatant-view {
  padding: 15px;
  background-image: url('~@/assets/background-stats.png');
  background-size: 100% 100%;
  --webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
}

#combatant-conditions {
  margin-top: 20px;
}

#penalties-list {
  list-style: none;
}

#combatant-view-container .subtitle {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.combatant-name {
  font-family: headerfont;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.combatant-name input {
  width: 100%;
  text-align: center;
}

.stats-table {
  text-align: center;
  margin-bottom: 0.5em;
  border-collapse: collapse;
}

.stats-table td {
  min-width: 30px;
}

tr:last-child {
  border-bottom: hidden;
}

td, th {
  border: solid 1px black;
  width: calc(100% / 12);
}

tr {
  border-left: hidden;
  border-right: hidden;
}

td:not(.editable), th, .combatant-name:not(.editable) {
  cursor: default;
}

td.editable {
  cursor: text;
}

span.editable {
  cursor: pointer;
}

.npc-button {
  width: 33%;
  display: inline-block;
  text-align: center;
}

.stats-table input {
  all: unset;
  width: 100%;
}

.inline-input {
  width: 1.1em;
  display: inline-block;
  text-align: center;
}

#edit-buttons {
  display: flex;
}
</style>

<style>
.drop-menu {
  overflow: hidden;
  box-shadow: none !important;
  background-color: transparent;
  background-image: url('~@/assets/background-columns.png');
  background-size: 100% 100%;
  padding: 15px;
  min-width: 300px;
  min-height: 240px;
}

.drop-menu label {
  display: block;
}

.drop-menu label input {
  margin-left: 10px;
  display: inline-block;
  width: auto;
}

.drop-menu .trait-list {
  columns: 5;
  -webkit-columns: 5;
  -moz-columns: 5;
  list-style-type: disc;
}

.drop-menu li {
  list-style-type: none;
  overflow-x: hidden;
}

.drop-menu .trait-filter {
  width: 100%;
  margin-bottom: 10px;
}

.edit-tooltip {
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.editable {
  color: dodgerblue;
}
</style>